body {
    padding-top: 20px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.graph {
    width: 450px;
    height: 450px;

}

.twitter-button {
    margin-left: 33%;
    width: 150px;
}