<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_5.dtd" >
<web-app>
    <context-param>
        <param-name>resteasy.scan</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>
        <param-name>resteasy.resources</param-name>
        <param-value>it.redhat.playground.service.JdgService</param-value>
    </context-param>
    <context-param>
        <param-name>javax.ws.rs.core.Application</param-name>
        <param-value>it.redhat.playground.application.ApplicationConfig</param-value>
    </context-param>

    <!-- set this if you map the Resteasy servlet to something other than /* -->
    <context-param>
       <param-name>resteasy.servlet.mapping.prefix</param-name>
       <param-value>/rest</param-value>
    </context-param>

    <!-- if you are using Spring, Seam or EJB as your component model, remove the ResourceMethodSecurityInterceptor -->
    <context-param>
        <param-name>resteasy.resource.method-interceptors</param-name>
        <param-value>
            org.jboss.resteasy.core.ResourceMethodSecurityInterceptor
        </param-value>
    </context-param>


    <listener>
        <listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
    </listener>

    <servlet>
        <servlet-name>Resteasy</servlet-name>
        <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Resteasy</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
</web-app>