html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#chart {
    height: 50%;
    background-color: white;
}

#terminal {
    height: 45%;
    overflow-y: scroll;
    background-color: #000000;
}

#main {
    height: 100%;
    background-color: #000000;
}